# Misc
debug.txt
.development/sdl.cpp
.development/important-sdl-stuff.cpp

# Builds
bin/*
build/*

# Packaging
sentinel-linux
sentinel-windows
sentinel-linux.tar.gz
sentinel-windows.zip

# Logs
data/logs/crashes/*
data/logs/current.log